@{
    ViewData["Title"] = "Редактирование информации";
}
@model GeneratorDiplom.ViewModels.Student.StudentViewModel 
<form method="post">
    <div class="form-group">
        <label asp-for="Surname_RU"></label>
        <input class="form-control" asp-for="Surname_RU">
        <span asp-validation-for="Surname_RU" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name_RU"></label>
        <input class="form-control" asp-for="Name_RU">
        <span asp-validation-for="Name_RU" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Middlename_RU"></label>
        <input class="form-control" asp-for="Middlename_RU">
        <span asp-validation-for="Middlename_RU" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname_Dat_RU"></label>
        <input class="form-control" asp-for="Surname_Dat_RU">
        <span asp-validation-for="Surname_Dat_RU" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name_Dat_RU"></label>
        <input class="form-control" asp-for="Name_Dat_RU">
        <span asp-validation-for="Name_Dat_RU" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Middlename_Dat_RU"></label>
        <input class="form-control" asp-for="Middlename_Dat_RU">
        <span asp-validation-for="Middlename_Dat_RU" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname_Dat_KZ"></label>
        <input class="form-control" asp-for="Surname_Dat_KZ">
        <span asp-validation-for="Surname_Dat_KZ" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name_Dat_KZ"></label>
        <input class="form-control" asp-for="Name_Dat_KZ">
        <span asp-validation-for="Name_Dat_KZ" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Middlename_Dat_KZ"></label>
        <input class="form-control" asp-for="Middlename_Dat_KZ">
        <span asp-validation-for="Middlename_Dat_KZ" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="GroupId"></label>
        <select class="form-control form-select" asp-for="GroupId" asp-items="ViewBag.Groups"></select>
        <span asp-validation-for="GroupId" class="form-text text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumApplication"></label>
        <input class="form-control" asp-for="NumApplication">
        <span asp-validation-for="NumApplication" class="form-text text-muted"></span>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>